// Any variables defined here and in BOONStim's boonstim.nf.config
// are available in .nf scripts as params.XXXXXX
// This file is given via nextflow run boonstim.nf -c /path/to/main.nf.config

import nextflow.util.Duration

singularity {
    autoMounts=true
    enabled=true
}

// Partition assignment functions
def get_queue(w, mapping){
    def td_mapping = mapping.collectEntries{k,v -> [new Duration(k), v]}
    def ps = td_mapping.grep{it.key >= w}.sort{it.key}
    return ps.first().value
}

repo = "/scratch/smansour/scripts/sgacc-dev"
rois = "${repo}/rois"

// Threshold defaults
params.threshold = 50

// Masking defaults
params.sgacc_template="${rois}/sgc_10mm.nii.gz"
params.dlpfc_mask="${rois}/glasser_comb.dscalar.nii"
// params.dlpfc_mask="/scratch/smansour/scripts/tigr_parc/glasser_dlpfc/tpl-fsLR_den-32k_atlas-Glasser2016Tian2019_desc-subcortexS1_dseg.dlabel.nii"

// Clustering defaults
params.surface_value_threshold = -2.85
params.surface_minimum_area = 20
params.volume_value_threshold = -2.85
params.volume_minimum_size = 20

// Targeting defaults
params.sulcal_depth = 0
