// Any variables defined here and in BOONStim's boonstim.nf.config
// are available in .nf scripts as params.XXXXXX
// This file is given via nextflow run boonstim.nf -c /path/to/main.nf.config

repo="/scratch/smansour/scripts/sgacc-targeting"
rois="${repo}/rois"

params.threshold=0.9
params.sgacc_template="${rois}/sgc_10mm.nii.gz"
params.dlpfc_mask="PATH_TO_DLPFC_ROI_MASK"
