params.weightworkflow = "${params.sgacc_workflow_directory}/main.nf"
rois = "${params.sgacc_workflow_directory}/rois"

singularity {
    autoMounts=true
    enabled=true
}

// sgacc_workflow_directory needs to be provided via cmdline
params.sgacc_template="${rois}/glasser_R_25_ROI.dscalar.nii"
params.sgacc_back_template="${rois}/allsubs_func_connectivity_REST1_minus_LRDLFPC.dscalar.nii"
params.dlpfc_mask="${rois}/glasser_dlpfc_no_subcort.dscalar.nii"

// Threshold defaults
params.threshold = 25

// Clustering defaults
params.surface_value_threshold = 0
params.surface_minimum_area = 20
params.volume_value_threshold = -2.85
params.volume_minimum_size = 20

// Targeting defaults
params.sulcal_depth = 75

//includeConfig "./config/processes.nf.config"